.slide-animation {
    position: relative;
}
.slide-animation > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background-layout {
  background-color: #8cffc1;

  .container-title {
    text-align: center;
    padding-top: 42px;
  }
}