.full-circle {
  height: 220px;
  -moz-border-radius: 110px;
  -webkit-border-radius: 110px;
  width: 220px;
  // z-index: +99;
}

.badge1{
  background-color: #ec1559;
}
.badge2{
  background-color: #faf93c;
}
.badge3{
  background-color: purple;
}
.badge4{
  background-color: #10c8cd;
}
.badge5{
  background-color: #90AEC6;
}
.badge6{
  background-color: #213240;
}
.badge7{
  background-color: #ff0000;
}
.badge8{
  background-color: #00ff00;
}
.badge9{
  background-color: #ff9900;
}

.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}