// normalize common tags




#carousel-example-generic {
  position: relative;
  height: 80%;
  background: #BDFCC9;


  .carousel-inner > .item {
      margin: 0 auto;
  }

  // .container-title {
  //   text-align: center;
  //   font-size: 3em;
  //   padding-top: 42px;
  // }
}
@media (min-width: 640px) {
  .main-content {
    // border: 4px solid red;
    height: 800px;
    width: 75%;
  }
}

// .component-render {
//   background-color: blue;
// }

