
.goals-form-control {
  padding-top: 50px;
  position: absolute;
}

#create-goal-input {
  margin: auto;
  text-align: center;
  width: 80%
}

#create-goal-button {
  position: absolute;
  margin-top: 20px;
}