.daily-goals-template {
  background-color: #d8f7ff;
  background-image: none;
  margin: 3em;
}

.daily-goal {
  /*color:#5bc0de;*/
  vertical-align: center;
}

.daily-goals-icons {
  float: right;
  font-size: 2em;
    i {
      margin: 10px;
      color:#5bc0de;
    }
    .btn {
      margin: 10px 10px 0 0;
      font-size: 16px;
      color:#5bc0de;
    }
}

.page-header h1 {
  padding-left: 43px;
}

#new-daily-button {
  font-weight: 900;
  color: #5bc0de;
  padding: 5px 40px 5px 40px;
  letter-spacing: 1.5px;
}