
.daily-goals-icons {
  float: right;
    .btn {
      font-size: 16px;
      margin: 0px 10px 0 0;
    }
    i {
      margin: 10px;
    }
}

.daily-goals-template {
  background-color: #d8f7ff;
  background-image: none;
  margin: 3em;
}

.page-header h1 {
  padding-left: 43px;
}
