h2, h5, h6 {
  color: #5bc0de;
}

.col-sm-6.col-sm-offset-3 {
  padding-top: 30px;
}

.example-appear {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

.example-enter {
  opacity: .001;
  transform: rotateX(-90deg);
}

.example-leave {
  opacity: 1;
}

.example-enter.example-enter-active {
  font-size: 1em;
  opacity: 1;
  transform: none;
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
}

.row.fade-in {
  padding-top: 30px;
}

.text-center {
  perspective: 100px;
  text-align: center;
}

.tutorial-toggle{
  background: #5bc0de;
  color: #fff;
  display: block;
  font-size: 25px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
    &:hover{
      background: #d8f7ff;
      color: #777;
    }
}

#restart-tutorial {
  bottom: 0;
  position: relative;
}

#tutorial-bunny {
  padding-top: 35px;
}

#tutorial-bunny-badge {
  padding-top: 35px;
}

#tutorial-bunny-daily {
  padding-top: 65px;
}

#tutorial-bunny-goal {
  padding-top: 100px;
}
