#restart-tutorial {
  position: relative;
  bottom: 0;
}
.text-center {
  text-align: center;
  perspective: 100px;
  h1 {
    font-size: 14px;
    animation: swing .5s ease-in-out;
    @keyframes swing {
      0% {
        transform: rotateY(90deg);
      }
      90% {
        transform: rotateY(-10deg);
      }
      100% {
        transform: none;
      }
    }
  }
}

// .fade-in {
//   animation: fadeIn 2s;
//   @keyframes fadeIn {
//     from {
//       opacity: .2;
//     }
//     to {
//       opacity: 1;
//     }
//   }
// }
.example-enter {
  opacity: .001;
  transform: rotateX(-90deg);
}

.example-enter.example-enter-active {
  font-size: 1em;
  opacity: 1;
  transform: none;
  transition: opacity .5s ease-in;
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}

.example-appear {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}
.example-appear.example-appear-active {
  opacity: 1;
}

@keyframes hightlight {
  from {
    color: grey;
  }
  to {
    color: #00b8c9
  }
}

.tutorial-toggle{
  background: #00b8c9;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 30px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;

  &:hover{
    background: darken(#00b8c9, 15%);
  }
}
