.alert {
  width: 80%;
  margin: auto;
}

.form-group-modal {
  font-size: 15px;
  margin: auto;
  text-align: center;

  input {
    width: 80%;
    padding: 10px;
    margin: 10px;
  }

}

#create-goal-body button {
    background-color: #BDFCC9;
    background-image: none;
    box-shadow: 0px 0px 3px rgba(92, 184, 92, 0.87);
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 6px;

    &:hover {
      transition: all 0.3s ease-in-out;
      background-color: darken(saturate(#BDFCC9, 10%), 10%);
    }
    &:focus {
    outline: 1px dotted BDFCC9;

    }
}