@import 'mixins';
.goals-template {
  margin: 3em;

  h1 {
    color:#777;
    display: block;
    margin-top: 20px;
    overflow-wrap: break-word;
    padding-left: 20px;
    text-align: center;
  }

  h3 {
    padding-top: 2em;
    text-align: center;
  }

  h4 {
    color:#777;
    padding-top: 20px;
    text-align: center;
  }

  p {
    font-size: 14px;
  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }

  .progress {
    margin: auto;
    position: absolute;
    top: 70px; left: 0; bottom: 0; right: 0;
    margin-left: 40px;
    margin-right: 40px;

    .progress-bar {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }

  .strikethrough {
    position: relative;
    text-decoration: line-through;
  }

  .tasks {
    overflow-wrap: break-word;
  }

  .task-list {
    text-align: left;
  }
}

.progress {
  margin-left: 40px;
  margin-right: 40px;
}

.goals-template.row.well {
  padding: 0px;

  .well {
    background-color: #96C8A2;
  }
  animation: slideDown 1s;

  @keyframes slideDown{
    from {
      transform: translateY(50%);
    }
    to {
      transform: translateY(0);
    }
  }
  transition: top 1s;
}

.goal-not-done {
background-color: #d8f7ff;
}

.goal-is-done {
  opacity: .2;
}

 /*Strikethrough*/
.goalInfo {
  display: inline-block;
  margin: auto;
  padding: 5px;
  text-align: left;
  width: 100%;

    &:hover{
      .goalInfo-content{
        max-height: 400px;
    }
  }
}

.goalInfo-appear {
  opacity: 0;
}

.goalInfo-appear.goalInfo-appear-active {
  opacity: 1;
  transition: opacity 1s;
}


.goalInfo-inner{
  overflow: hidden;
  padding: 0 15px;
}
.goalInfo-toggle{
/*  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;*/
  background: #00b8c9;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 0 0 10px;
  text-align: center;
  text-decoration: none;

  &:hover{
    background: darken(#00b8c9, 15%);
  }
}

.glyphicon {
  color: #5bc0de;
}

.progress-bar.progress-bar-info {
  @include linear-gradient(left, rgb(177, 223, 255) 0, rgba(204, 0, 255, 0.68) 130%);
}

.page-header {
  border-bottom: 0px;
  margin: 40px 0 20px;
}

.daily-goals-icons.goals-page {
  position: absolute;
}

#new-goal-button {
    color: #5bc0de;
    font-weight: 900;
    letter-spacing: 1.5px;
    padding: 5px 60px 5px 60px;
}
