.goals-template {


  h1 {
    color: #595959;
    text-align: center;
  }


  h4 {
    color: #595959;
    text-align: center;
  }

  margin: 3em;

  p {
    font-size: 1em;
  }

  .progress {
    margin: auto;
    position: absolute;
    top: 54px; left: 0; bottom: 0; right: 0;
  }

  .task-list {
    text-align: left;
  }

  .well {
    background-color: #96C8A2;
  }
}

h3 {
  text-align: center;
  padding-top: 2em;
}
/* Strikethrough */

.strikethrough {
    display: inline-block;
    position: relative;
}

.strikethrough:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: -0.7em;
    background: grey;
    transform-origin: center left;
    animation: strikethrough 1s 0.5s cubic-bezier(.55, 0, .1, 1) 1;
    transition: transform 0.5s cubic-bezier(.55, 0, .1, 1);
}

/* Keyframes for initial animation */

@keyframes strikethrough {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}