@import 'mixins';
.goals-template {
  margin: 3em;

  h1 {
    color: #595959;
    padding-left: 10px;
    padding-top: 25px;
    text-align: center;
  }

  h3 {
    text-align: center;
    padding-top: 2em;
  }

  h4 {
    color: #595959;
    padding-top: 25px;
    text-align: center;
  }

  p {
    font-size: 1em;
  }

  .col-centered {
    float: none;
    margin: 0 auto;
  }

  .progress {
    margin: auto;
    margin-top: -18px;
    position: absolute;
    top: 54px; left: 0; bottom: 0; right: 0;

    .progress-bar {
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }

  .strikethrough {
    position: relative;
    text-decoration: line-through;
  }

  .tasks {
    overflow-wrap: break-word;
  }

  .task-list {
    text-align: left;
  }
/*  -webkit-transition: max-height 1s ease-in;
  -moz-transition: max-height 1s ease-in;
  -ms-transition: max-height 1s ease-in;
  -o-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
  // background: #e5feff;
  overflow: hidden;
  // "height: 0" not work with css transitions
  max-height: 800px;*/
}

.goals-template.row.well {
  padding: 0px;

  .well {
    background-color: #96C8A2;
  }
  animation: slideDown 1s;
  @keyframes slideDown{
    from {

      transform: translateY(50%);
    }
    to {
      transform: translateY(0);
    }
  }
  transition: top 1s;
}
  .goal-is-done {
    opacity: .2;
  }
  .goal-not-done {
  }
/* Strikethrough */
.daily-goal {
  color: turquoise;
  vertical-align: center;
}

.goal-is-done {
  opacity: .2;
}

.goal-not-done {
background-color: #d8f7ff;
}
 /*Strikethrough*/

.goalInfo {
  display: inline-block;
  text-align: left;
  margin: auto;
  width: 100%;
  padding: 5px;

    &:hover{
    /*// max-height technique*/
      .goalInfo-content{
      /*// If use the "height: auto", the effect not works. Is necessary some value for the CSS create a CSS animate, and we can use "max-height" with a great value for emulate this effect.*/
        max-height: 400px;
    }
  }
}

.goalInfo-appear {
  opacity: 0;
}

.glyphicon-check {
  color: turquoise;
}

.goalInfo-content{
  .goalInfo-appear.goalInfo-appear-active {
    opacity: 1;
    transition: opacity 1s;
  }
}

.goalInfo-inner{
  overflow: hidden;
  padding: 0 15px;
}
.goalInfo-toggle{
  -webkit-transition: background .1s linear;
  -moz-transition: background .1s linear;
  -ms-transition: background .1s linear;
  -o-transition: background .1s linear;
  transition: background .1s linear;
  background: #00b8c9;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 30px;
  margin: 0 0 10px;
  text-align: center;
  text-decoration: none;

  &:hover{
    background: darken(#00b8c9, 15%);
  }
}

.progress-bar.progress-bar-info {
  @include linear-gradient(left, rgb(177, 223, 255) 0, rgba(204, 0, 255, 0.68) 130%);
}



/*#finished-task-button {
  float: right;
}*/

