@import 'mixins';

p {
  color: #5bc0de;
  font-size: large;
  font-weight: bolder;
  padding: 5px 0;
}

.col-lg-12.text-center {
  h2 {
    color: #5bc0de;
    font-weight: bolder;
    padding-top: 35px;
    padding-bottom: 20px;
  }
}

.hero-alert {
  margin: 0px;
}

.img-container {
  text-align: center;
}

#about-rabeet {
  margin-top: 10px;
  padding-right: 30px;
    p {
      &:first-of-type {
        font-size: 24px;
        font-style: italic;
        text-align: center;
      }
    }
}

#register-body input {
  font-size: 15px;
  margin: 1px;
  margin-top: 10px;
  padding: 10px;
  width: 80%;
}

#sign-up-button {
  color: #5bc0de;
  font-weight: 900;
  letter-spacing: 1.5px;
  padding: 5px 50px 5px 50px;
}
