@import 'mixins';

h2 {
  color: #720c90;
  font-weight: bolder;
  padding: 2%;
}

p {
  padding: 5px;
  color: #720c90;
  font-size: large;
  font-weight: bolder;
}

.img-container {
  text-align: center;
}

#about-rabeet {
  margin-top: 10px;
  padding-right: 30px;
  // @include linear-gradient(right, #0df2b8, rgba(0, 139, 153, 0.6), rgba(77, 77, 255, 0.52));

  p {
    &:first-of-type {
      font-size: 24px;
      font-style: italic;
      text-align: center;
    }
  }
}

#hero-page {
  // background-color: #f8f8f8;
}